body { background: #948870; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 23px; display: flex; }
.block-notify-0 { color: #d87ca9; font-size: 20px; margin-bottom: 5px; }
.block-payment-1 { color: #d33499; font-size: 19px; margin-bottom: 5px; }
.block-shipping-2 { color: #962746; font-size: 19px; margin-bottom: 5px; }
.block-notify-3 { color: #889d6f; font-size: 15px; margin-bottom: 5px; }
.block-logger-4 { color: #d3ada7; font-size: 15px; margin-bottom: 5px; }
.block-database-5 { color: #cbfc0b; font-size: 12px; margin-bottom: 5px; }
.block-product-6 { color: #ebe8bc; font-size: 12px; margin-bottom: 5px; }